* {
  margin: 0;
  padding: 0;
  background-color: rgb(65, 94, 131)

}

.App {
  padding-top: 30px;
  text-align: center;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin: 40px 0 30px;
}

.searchbox {
  padding: 10px 15px;
  border-radius: 10px;
  outline: none;
}

.refresh {
  height: 30px;
  margin-left: 10px;
}

